<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>    
    {% if messages %}
    <section class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </section>
    {% endif %}
<section class="posts">
    {% for post in allposts %}
        {{ post.author }} said: {{ post.text }}<br>
        {% if user.is_authenticated %}
            <form action="/comment/{{ post.pk }}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    {% endfor %}
    <br>
</section>

</body>
</html>
