<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        .post, .comment {
            border: 1px solid #ccc;
            background: #f2f2f2;
            border-radius: 5px;
            margin: 4px 0;
            padding: 10px;
        }
        .comment {
            margin-left: 15px;
        }
    </style>
</head>
<body>    
{% if messages %}
<section class="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</section>
{% endif %}
{% if post %}
<section class="posts">
    <div class="post">
        <p>{{ post.author }} said: {{ post.text }}</p>
        <p>{{ post.created_date }}</p>
    </div>
</section>
{% endif %}
{% if comments %}
<section class="comments">
    {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.commenter }} said: {{ comment.comment }}</p>
            <p>{{ comment.comment_date }}
        </div>
    {% endfor %}
</section>
{% endif %}
{% if post %}
<form class="comment-form" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Submit">
</form>
{% endif %}
</body>
</html>
