<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        .post, .comment {
            border: 1px solid #ccc;
            background: #f2f2f2;
            border-radius: 5px;
            margin: 4px 0;
            padding: 10px;
        }
        .comment {
            margin-left: 15px;
        }
    </style>
</head>
<body>    
    {% if messages %}
    <section class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </section>
    {% endif %}
<section class="posts">
    <div class="post">
        {{ post.author }} said: {{ post.text }}
    </div>
</section class="comments">
    {% for comment in comments %}
        <div class="comment">
            {{ comment.comment }}
        </div>
    {% endfor %}
</body>
</html>
